.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;	
}

.friend{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
}


